{% extends 'includes/base.html' %}

{% block title %}

Crop Store
{% endblock title %}




{% block mainarea %}
<div class = "container my-5">
    {% include 'messages.html' %}
    <form method="get" action={% url 'search' %}>

    <div class="input-group rounded">
        
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name = "crop"/>
            <button class="btn" type = "submit">
                <i class="fas fa-search"></i>
            </button>
          
        
    </div>
</form>
    <div class = "row">
        
        {% for crop in crops %}
            <div class="card" style="width: 18rem; margin : 1rem;">
                <div class="card-body">
                    <h5 class="card-title">{{crop.crop_name}}</h5>
                    <!-- <h6>{{crop.farmer}}</h6> -->
                    <small>{{crop.stock}} Quintal</small>
                    <p class="card-text">{{crop.crop_desc}}</p>
                    <a href="{% url 'individual_crop' crop.id %}" class="btn btn-primary" style="background: #264ca4 !important; border: none !important;"  >View</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock mainarea %}



