{% extends 'includes/base.html' %}


{% block mainarea %}


<div class = "container my-5">
    <div class = "row">
        {% include 'messages.html' %}
        {% for farmer in all_farmers %}
            <div class="card" style="width: 18rem; margin : 1rem;">
                <div class="card-body">
                    <h5 class="card-title">{{farmer.user.full_name}}</h5>
                    <!-- <h6>Unique Id: {{farmer.user.id}}</h6> -->
                    <h6>{{farmer.city}}</h6>
                    <h6 class="card-text">DOB: {{farmer.dob}}</h6>
                    <a href="{% url 'view_profile' farmer.user.id %}" class="btn btn-primary" style="background: #264ca4 !important; border: none !important;">View</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock mainarea %}




