{% extends 'includes/base.html' %}


{% block title %}
    Reset Password

{% endblock title %}

{% block mainarea %}
<div class = "container">
<h2 class="text-center mt-5 mb-5 animate__animated animate__slideInDown">
      Recover Password
    </h2>

<div class="card mx-auto w-50" style="max-width: 600px; margin-top:100px;">
    
      <div class="card-body">
      <h5 class="card-title mb-4">Forgot Password</h5>
      
      <form action = "{% url 'reset_password' %}" method = "POST">
    {% csrf_token %}
          <div class="form-group">
			 <input type="email" name = "email" class="form-control" placeholder="Email Address" >
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right">Got Password? Login</a> 
           
          </div> <!-- form-group form-check .// -->
          <br/>
          <br/>
          <div class="form-group">
              <button type="submit" class="btn btn-light btn-block"> Submit  </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
</div>



{% endblock mainarea %}






