
{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
    Utpatti

{% endblock title %}


{% block files %}
 

{% endblock files %}






{% block mainarea %}
    <div class="container my-4">
      {% include 'messages.html' %}
      <div class="text-center my-3">
        <h2 style="color: #729437">Utpatti</h2>
        <h6><i>Common platform for farmers and merchants to connect!</i></h6>
        <br/>
        <br/>
        <p>
            A portal aimed to foster a healthy relationship between the farmers and merchants by providing a platform for seamless trading of crops. A convenient way for both the parties to make lucrative decisions.
        
            It comes with various features like easy navigation for farmers and merchants, make bid for crop yield and supports multiple languages for the ease of the user. 
        </p>
        </div> 
    </div>


{% endblock mainarea %}










